// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/fonts";
@import "setup/mixins";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/data-title";

// Views
@import "views/home-page";
@import "views/login-signup";
@import "views/dashboard";

// Components
    // task-picker
@import "cmps/task-picker/status-priority-picker";
@import "cmps/task-picker/member-picker";
@import "cmps/task-picker/number-picker";
@import "cmps/task-picker/update-picker";
@import "cmps/task-picker/file-picker";
@import "cmps/task-picker/date-picker";

// sidebar
@import "cmps/sidebar/main-sidebar";
@import "cmps/sidebar/workspace-sidebar";

    // modal
@import "cmps/modal/status-priority-modal";
@import "cmps/modal/board-modal";
@import "cmps/modal/board-activity-modal";
@import "cmps/modal/member-modal";
@import "cmps/modal/task-tools-modal";
@import "cmps/modal/create-board-modal";
@import "cmps/modal/add-column-modal";
@import "cmps/modal/group-menu-modal";
@import "cmps/modal/task-menu-modal";
@import "cmps/modal/board-description-modal";
@import "cmps/modal/login-logout-modal";
@import "cmps/modal/member-filter-modal";
@import "cmps/modal/color-palette-modal";
@import "cmps/modal/dynamic-modal";
@import "cmps/modal/remove-column-modal";
@import "cmps/modal/add-group-modal";

    // group
@import "cmps/group/group-list";
@import "cmps/group/group-preview";
@import "cmps/group/group-statistics";

    // board
@import "cmps/board/board-header";
@import "cmps/board/board-filter";
@import "cmps/board/board-preview";

    // Kanban
@import "cmps/kanban/group-list-kanban";
@import "cmps/kanban/group-preview-kanban";
@import "cmps/kanban/task-list-kanban";
@import "cmps/kanban/task-preview-kanban";

@import "cmps/home-header";
@import "cmps/task-preview";
@import "cmps/comment-preview";
@import "cmps/activity-preview";
@import "cmps/last-viewed";
@import "cmps/upload-img";
@import "cmps/loader";