.add-column-modal {
    margin: 0;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    color: $primary-text-color;
    font-size: rem(16px);

    div {
        width: 120px;
        display: flex;
        align-items: center;
        gap: $spacing-small;
        padding: $spacing-xs $spacing-small;
        cursor: pointer;

        &:hover {
            background-color: $workspace-hover;
            border-radius: $spacing-small;
        }
    }

    img {
        width: 14px;
        height: 14px;
    }
}