.board-activity-modal {

    .board-activity-header {
        margin: 20px 20px $spacing-small $spacing-large;
        
        .close-btn {
            color: #777;
            cursor: pointer;
        }
    
        .views {
            gap: 18px;
            >* {
                @include center-flex();
            }
            .active{
                border-bottom: 2px solid $board-btn;
            }
        }
    }

    .board-activity-content {
        overflow-y: auto;
        height: 85vh;
    }    
}