.login-logout-modal {
    position: absolute;
    background-color: $app-bg;
    border-radius: $spacing-small;
    color: $primary-text-color;
    box-shadow: -3px 4px 14px rgb(0 0 0 / 20%);
    padding: $spacing-small;
    font-size: rem(14px);
    z-index: 10;
    border: 1px solid darken($border-color , 20%);
    left: 60px;
    bottom: 15px;

    span, a {
        @include center-flex();
        cursor: pointer;
        padding: 0 $spacing-xs;
        border-radius: 4px;
        gap: $spacing-xs;
        color: $primary-text-color;
        &:hover {
            background-color: $workspace-hover;
        }
    }
}