.modal-member {
    @include center-flex();

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .modal-member-content {
        width: 360px;

        img {
            border-radius: 50%;
        }

        .taskMembers {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-small;
            margin-top: 0;
            li {
                padding: $spacing-xs $spacing-small;
                display: flex;
                align-items: center;
                gap: $spacing-small;
                background-color: $member-modal-item-bg;
                margin: $spacing-xs;
                border-radius: 8px;
                font-size: rem(14px);

                img {
                    width: 22px;
                    height: 22px;
                }

                .remove {
                    margin-right: $spacing-xs;
                    cursor: pointer;
                }
            }

        }

        .outTaskMembers {
            .search-div {
                margin: $spacing-medium 0;
                padding: $spacing-xs $spacing-xs;
                width: 320px;
                border-radius: 8px;
                border: 2px solid darken($border-color , 20%);

                input {
                    border: 0;
                    margin: 0;

                    &:focus-visible {
                        outline: 0;
                    }
                }

                .icon-container {
                    @include center-flex();
                    margin: 0;
                    background-color: white;
                    border-radius: 8px;
                    width: 24px;
                    height: 24px;
                    padding: $spacing-xs $spacing-xs;
                    cursor: pointer;

                    &:hover {
                        background-color: $layout-border-color;
                    }

                    .icon {
                        color: black;
                    }
                }
            }

            .out-member-list {
                max-height: 200px;
                overflow-y: auto;

                li {
                    padding: $spacing-small;
                    display: flex;
                    gap: $spacing-small;
                    border-radius: 8px;
                    cursor: pointer;

                    img {
                        width: 26px;
                        height: 26px;
                    }

                    &:hover {
                        background-color: $layout-border-color;
                    }
                }
            }
        }
    }

    &.invite {
        @include center-absolute();
        z-index: 100;

        .modal-member-content {
            width: 420px;
        }

        .triangle-icon {
            display: none;
        }
    }

    .triangle-icon {
        position: absolute;
        top: -12px;
        color: white;
    }
}