.modal-status-priority {
    .modal-status-priority-content {

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            color: white;
            gap: $spacing-small;
            padding: 8px;

            li {
                min-width: 152px;
                height: 32px;
                @include center-flex();
                cursor: pointer;
            }
        }

        .edit-labels-btn {
            padding: 0 $spacing-medium $spacing-small $spacing-medium;
            @include center-flex();
            border-top: 1px solid darken($border-color , 20%);

            button {
                width: 152px;
                background-color: $app-bg;
                color: $primary-text-color;
                padding: $spacing-xs $spacing-small;
                @include center-flex();
                margin: $spacing-medium $spacing-xs $spacing-xs $spacing-xs;

                .icon {
                    font-size: rem(20px);
                    margin-right: $spacing-small;
                }
            }
        }
    }

    .triangle-icon {
        position: absolute;
        color: white;
        top: -12px;
        right: 95px;
    }
}