.date-picker {
    outline: 0;
    max-width: 140px;

    .react-datepicker-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .date-picker-input {
        z-index: 5;

        .react-datepicker__header {
            background-color: #fff;
        }
    }

    input {
        width: 100%;
        outline: none;
        border: none;
        text-align: center;
        padding: $spacing-xs;
        background-color: inherit;

        &:hover {
            color: $board-btn;
            border: .2px solid $workspace-hover;
        }

        &:focus-visible {
            border: .2px solid $board-btn;
        }
    }
}