.updated-picker {
    @include center-flex();
    &-content{
        width: 60px;
    }

    img {
        @include members;
    }

    .icon-person {
        font-size: rem(26px);
        color: darken($border-color, 20%);
    }
}