.home-header {
    @include center-flex();
    justify-content: space-between;
    padding: 0 $spacing-large;
    height: rem(72px);
    position: sticky;
    top: 0;
    background: #ffffff;

    nav {
        height: 100%;
    }

    .header-btns {
        @include center-flex();

        .btn-start {
            @include center-flex();
            background-color: $home-btn-bg;
            height: 40px;
            width: 130px;
            font-size: rem(13px);
            padding: $spacing-small $spacing-medium;
            border-radius: 40px;

            &:hover {
                background-color: #5151d5;

                .arrow svg {
                    transition: 0.4s;
                    transform: translateX(4px);
                }
            }

            .arrow {
                @include center-flex();
                display: none;
                padding-left: $spacing-medium;

                @include for-normal-layout() {
                    & {
                        display: flex;
                    }
                }
            }
        }

        .btn-login {
            background-color: $app-bg;
            color: #535768;
            padding: $spacing-small $spacing-medium;
            font-size: rem(14px);
            border-radius: 8px;
            font-weight: 300;
            margin-right: $spacing-medium;

            &:hover {
                color: #5034FF;
                background-color: #F0F3FF;
            }
        }
    }

}