.home-header {
    background-color: $app-bg;
    height: rem(72px);

    nav {
        @include center-flex();
        justify-content: space-between;
        height: 100%;

        img {
            height: rem(75px);
            cursor: pointer;
        }
    }

    .header-btns {
        @include center-flex();

        .btn-start {
            @include center-flex();
            background-color: $home-btn-bg;
            height: 40px;
            width: 130px;
            font-size: rem(13px);
            padding: $spacing-small $spacing-medium;
            border-radius: 40px;

            &:hover {
                background-color: #5151d5;

                .arrow svg {
                    transition: 0.4s;
                    transform: translateX(4px);
                }
            }

            .arrow {
                padding-left: $spacing-medium;
                @include center-flex();
            }
        }

        .btn-login {
            background-color: $app-bg;
            color: #535768;
            padding: $spacing-small $spacing-medium;
            font-size: rem(14px);
            border-radius: 8px;
            font-weight: 300;
            margin-right: $spacing-medium;

            &:hover {
                color: #5034FF;
                background-color: #F0F3FF;
            }
        }
    }

    @include for-mobile-layout() {
        nav {
            img {
                height: rem(45px);
            }
        }

        .header-btns {

            .btn-start {
                height: 30px;
                width: 120px;

                .arrow {
                    display: none;
                }
            }
        }
    }
}