.teaser {
      padding-top: 10vh;
      padding-right: 20px;
      padding-left: 20px;
      background: $home-secondary-bg;
      color: white;

      &-header {
            padding: 4rem 0;
            text-align: center;
            $font-family: $title-font-family;

            &-title {
                  font-size: rem(34px);
            }

            &-paragraph {
                  font-size: rem(16px);
                  margin-top: $spacing-small;
                  color: lightgrey;
            }
      }

      .teaser-content {
            display: flex;
            align-items: center;
            margin-bottom: $spacing-medium;
            gap: $spacing-small;
            color: $home-active-color;
            font-family: $title-font-family;
            -webkit-transition: opacity 50ms ease, transform 50ms ease;
            transition: opacity 50ms ease, transform 50ms ease;
          

            @include for-normal-layout {
                  font-size: rem(28px);
            }
      }

      .home-gif {
            margin: 10vh 0;
            width: 100%;
            opacity: .9;
            border-radius: 10px;
            filter: drop-shadow(0px 8px 24px #0b0b3181);
      }
}

.views-container {
      margin-bottom: 5rem;
      height: 83px;
      border-radius: 1em;
      display: flex;
      background-color: inherit;
      color: #c9c5c5;
      justify-content: space-evenly;
      box-shadow: 0px 10px 30px rgba(29, 140, 242, 0.2);


      .view {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            min-width: 75px;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            transition: background-color .2s ease-in-out;
            cursor: pointer;

            &.active {
                  color: $home-active-color;
            }

            &:hover {
                  background-color: #4e4d5824;
            }
      }

      .active-indicator {
            width: 100%;
            bottom: 0;
            position: absolute;
            height: 4px;
            background-color: $home-active-color;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            -webkit-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.1s ease-in-out;
      }

      .teaser-container {
            padding-bottom: 3rem;
      }
}