.layout {
    max-width: $mobile-breakpoint;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 720px) {
    .layout {
      max-width: $narrow-breakpoint;
    }
  }
  
  @media (min-width: 960px) {
    .layout {
      max-width: $normal-breakpoint;
    }
  }