.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 16px 30px 0 38px;

    >* {
        width: 40%;
        border-radius: 8px;
        border: 2px solid darken($border-color , 20%);
        height: 100%;
        
        &:hover {
            border-color: #0073ea;
        }
        
        .chart-header {
            border-bottom: 1px solid darken($border-color , 20%);
            color: $primary-text-color;

            h2 {
                overflow-x: hidden;
                overflow-y: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 18px;
                font-weight:500;
            }
        }

        .header-content, .chart-content {
            @include center-flex();
            padding: $spacing-small $spacing-medium;
        }
        
        .header-content {
            justify-content: space-between;

            .icon-container {
                @include center-flex();
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    background-color: #d0d4e4;
                }
            }
        }

    }

    @include for-mobile-layout() {
        & {
            padding: 16px 0;
            justify-content: center;
            >* {
                width: 90%;
            }
        }
    }
}