.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 16px 30px 0 38px;
    >* {
        width: 45%;
    }

    @include for-mobile-layout() {
        & {
            padding: 0;
            justify-content: center;
            >* {
                width: 90%;
            }
        }
    }
}