.home-page {
  background-image: $home-bg;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: $app-bg;
  font-family: $title-font-family;

  .home-content {
    padding-top: $spacing-xxl;
    @include center-flex();
    flex-direction: column;
    gap: 20px;
    margin-bottom: $spacing-medium;

    p {
      color: $app-bg;
      text-align: center;
    }

    .headers-container {
      text-align: center;
    }

    .main-title {
      display: flex;
      flex-direction: column;
      font-size: rem(72px);
      font-weight: 400;
      background: linear-gradient(360deg, #ffffff 53.95%, #0b0b4a 207.37%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: $spacing-large;
      line-height: 85px;
    }

    h2 {
      font-weight: 300;
      font-size: rem(22px);
    }

    .get-started-btn {
      display: flex;
      background-image: $home-btn-bg-gradient;
      border-radius: 40px;
      padding: $spacing-medium $spacing-xl;
      line-height: 18px;
      font-size: rem(16px);
      transition: background-color 0.2s;

      &:hover {
        background-image: $home-btn-bg-gradient-hover;

        .arrow {
          transition: 0.3s;
          transform: translateX(4px);
        }
      }
    }

    .arrow {
      padding-left: $spacing-medium;
      @include center-flex();
    }

    @include for-mobile-layout() {
      & {
        padding: 48px 20px 0 20px;
      }
    }
  }
  .hero {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

}