.home-page {
  background-image: $home-bg;
  margin: 0;
  padding: 0;

  .home-content {
    padding-top: $spacing-xxl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .headers-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 72px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: linear-gradient(360deg, #ffffff 53.95%, #0b0b4a 207.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    line-height: 85px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-btn {
      background-image: $home-btn-bg-gradient;
      position: relative;
      padding-right: 20px;
      border-radius: 40px;
      margin-bottom: 15px;

      &:hover {
        background-image: $home-btn-bg-gradient-hover;

        .arrow {
          transition: 0.3s;
          transform: translateX(4px);
        }
      }
    }

    .arrow {
      padding-left: 10px;
    }

    .btn-text {
      color: #ffffff;
      font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
    }
  }

  .bottom-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .shooting-stars {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    min-height: 89vh;

    .star {
      opacity: 0;
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: white;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
        0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
      animation: shooting-star 2s linear infinite;

      &:nth-child(1) {
        top: 0;
        right: 0;
        animation-delay: 0;
        animation-duration: 1s;
      }

      &:nth-child(2) {
        top: 0;
        right: 80px;
        left: initial;
        animation-delay: 0.2s;
        animation-duration: 3s;
      }

      &:nth-child(3) {
        top: 80px;
        right: 0;
        left: initial;
        animation-delay: 0.4s;
        animation-duration: 2s;
      }

      &:nth-child(4) {
        top: 0;
        right: 180px;
        left: initial;
        animation-delay: 0.6s;
        animation-duration: 1.5s;
      }

      &:nth-child(5) {
        top: 0;
        right: 400px;
        left: initial;
        animation-delay: 0.8s;
        animation-duration: 2.5s;
      }

      &:nth-child(6) {
        top: 0;
        right: 600px;
        left: initial;
        animation-delay: 1s;
        animation-duration: 3s;
      }

      &:nth-child(7) {
        top: 300px;
        right: 0;
        left: initial;
        animation-delay: 1.2s;
        animation-duration: 1.7s;
      }

      &:nth-child(7) {
        top: 150px;
        right: 0;
        left: initial;
        animation-delay: 1.8s;
        animation-duration: 1.2s;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: 1px;
        background: linear-gradient(90deg, #fff, transparent);
      }
    }
  }

  @keyframes shooting-star {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }

    100% {
      transform: rotate(315deg) translateX(-700px);
      opacity: 0;
    }
  }

  @keyframes move-right {
    0% {
      transform: translateX(7px);
    }

    85% {
      transform: translateX(20px);
    }

    100% {
      transform: translateX(7px);
    }
  }
}