.home-page {
  background-image: $home-bg;
  margin: 0;
  padding: 0;
  height: 100vh;

  .home-content {
    padding-top: $spacing-xxl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include for-mobile-layout() {
      &{
        padding: 48px 20px 0 20px;
      }
    }
  }

  .headers-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 72px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: linear-gradient(360deg, #ffffff 53.95%, #0b0b4a 207.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    line-height: 85px;
    z-index: 10;
    position: relative;
  }

  h2 {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1.375rem;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-btn {
      background-image: $home-btn-bg-gradient;
      padding-right: 20px;
      border-radius: 40px;
      margin-bottom: 15px;

      &:hover {
        background-image: $home-btn-bg-gradient-hover;

        .arrow {
          transition: 0.3s;
          transform: translateX(4px);
        }
      }
    }

    .arrow {
      padding-left: 10px;
      display: flex;
      align-self: center;
    }

    .btn-text {
      color: $app-bg;
      text-align: center;
      font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
    }
  }

  .bottom-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -10000px 5000px;
    }
  }

  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 10000px 0;
    }
  }
}