.board-modal {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: $app-bg;
    border-inline-start: 1px solid #ccc;
    min-width: 570px;
    transform: translateX(100%);
    z-index: 100;
    transition: transform .6s, box-shadow .6s;

    @include for-mobile-layout() {
        & {
            min-width: 100vw;
        }
    }

    &.open {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    .close-btn {
        color: #777;
        cursor: pointer;
    }

    .task-modal-header {
        justify-content: flex-start;
        margin: 20px 20px 6px 24px;
        height: 53px;
        font-size: rem(18px);
    }

    .task-modal-type {
        padding: 0 $spacing-large;
        border-bottom: 1px solid $border-color;

        >* {
            @include center-flex();
            gap: $spacing-small;
            border-right: 1px solid $border-color;
            width: fit-content;
            padding: $spacing-small;
            font-weight: 500;
            font-size: rem(14px);
            cursor: pointer;

            &:hover {
                border-top-left-radius: $spacing-xs;
                border-top-right-radius: $spacing-xs;
                background-color: $workspace-hover;
            }
        }

        & .active {
            border-bottom: 2px solid #0073ea;
        }
    }

    .update {
        padding: 20px 20px 6px $spacing-large;
        height: 85vh;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .close-input-container {
            padding-left: 20px;
            outline: 1px solid $board-btn;
            min-height: 40px;
            border-radius: 4px;
            color: $workspace-icon-color;

            &:hover {
                background-color: $workspace-hover;
            }
        }

        .button-container {
            display: flex;
            flex-direction: row-reverse;
            gap: $spacing-small;

            .save {
                @include center-flex();
                background-color: $board-btn;
                color: white;
                margin: 0;
                height: 32px;
                border-radius: 4px;
                padding: $spacing-xs $spacing-small;

                &:hover {
                    background-color: $primary-hover-color;
                }
            }
        }

        .input-container {
            margin-bottom: $spacing-small;
            outline: 1px solid $board-btn;
            border-radius: 4px;
            width: 100%;
            height: 145px;

            .style-txt {
                width: 100%;
                display: flex;
                border-bottom: 1px solid darken($border-color, 20%);

                >* {
                    @include center-flex();
                    padding: $spacing-xs $spacing-small;
                    cursor: pointer;
                    border-radius: 4px;
                    font-size: rem(14px);
                    text-align: center;
                    margin: $spacing-xs 2px $spacing-xs $spacing-xs;

                    &:hover {
                        background-color: $workspace-hover;
                    }
                }
            }

            textarea {
                width: 100%;
                height: 75px;
                padding: 0 18px;
                border: 0;
                resize: none;

                &:focus-visible {
                    outline: 0;
                }
            }
        }

        .no-updates {
            img {
                width: 290px;
                height: auto;
            }

            .txt {
                padding: $spacing-medium;
            }

            h2 {
                font-weight: 500;
                font-size: rem(24px);
            }

            p {
                margin-top: $spacing-medium;
                text-align: center;
            }
        }
    }

    .activities {
        height: 85vh;
        overflow: auto;
    }
}