.board-description-modal {
    @include center-absolute();
    border: 1px solid rgb(204, 204, 204);
    background: $app-bg;
    overflow: hidden;
    border-radius: 8px;
    outline: none;
    height: 550px;
    width: 850px;
    max-height: 90vh;
    max-width: 95vw;
    transition: all 0.4s ease 0s;
    box-shadow: rgb(0 0 0) 1px 0px 20px 0px;
    color: $primary-text-color;
    z-index: 51;

    .close-btn {
        @include center-flex();
        position: fixed;
        right: 15px;
        top: 15px;
        border-radius: 6px;
        color: $primary-text-color;
        padding: $spacing-small;
        cursor: pointer;

        &:hover {
            background-color: $workspace-hover;
        }

        svg {
            font-size: rem(22px);
        }
    }

    .board-edit {

        padding: $spacing-medium $spacing-xl $spacing-xl $spacing-xl;
        width: 62%;
        height: 100%;
        gap: $spacing-small;

        .board-edit-title {
            margin-top: 12px;
            font-size: rem(24px);

            blockquote {
                border-radius: 4px;
                white-space: wrap;

                &:hover {
                    outline: 1px solid $task-box-shadow-color;
                }

                &:focus-visible {
                    outline: 1px solid $board-btn;
                }
            }
        }

        .board-edit-description {
            max-height: 71%;
            height: 71%;
            overflow-y: auto;
            top: 78px;
            left: auto;
            font-size: rem(14px);
            font-weight: 400;
            overflow: hidden;
            max-width: 800px;
            border: 1px solid transparent;
            white-space: pre-wrap;
            cursor: default;

            &:hover {
                border: 1px dashed $task-box-shadow-color;
                cursor: text;
            }

            blockquote {
                width: 100%;
                height: 100%;
                align-items: flex-start;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .board-info {
        padding: $spacing-xl;
        height: 100%;
        width: 38%;
        background-color: $board-description-bg;

        >* {
            margin-bottom: 24px;

            >* {
                display: flex;
                align-items: center;
                gap: $spacing-small;

                span {
                    font-size: rem(14px);
                }
            }
        }

        .title {
            font-size: rem(16px);
            font-weight: bold;
            margin-bottom: $spacing-large;
        }

        .header {
            font-size: rem(14px);
            color: $workspace-icon-color;
        }

        .lightning-container {
            @include center-flex();
            width: 24px;
            height: 24px;
            background-color: $color-done-green;
            color: #fff;
            border-radius: 8px;
        }

        .created-by,
        .owners {
            img {
                @include members();
            }
        }

        .board-details {
            align-items: flex-start;
        }
    }
}