.board-filter {
    padding: $spacing-medium 0;
    gap: 5px;

    >* {
        @include center-flex();
        font-size: rem(14px);
        height: 32px;
        gap: 5px;
    }

    .board-tools {
        >* {
            @include center-flex();
            gap: $spacing-xs;
            padding: 0 8px;
            color: $workspace-icon-color;
            height: 100%;
            cursor: pointer;

            &:hover {
                border-radius: 4px;
                background-color: $workspace-hover;
            }

            .icon {
                font-size: 18px;
                color: $workspace-icon-color;

            }
        }
    }

    .add-btn {
        position: relative;
        background-color: $board-btn;
        color: white;
        border-radius: 5px;
        height: 32px;

        .new-task-btn {
            cursor: pointer;
            padding: $spacing-xs $spacing-small;
            transition: .4s;
            white-space: nowrap;

            &:hover {
                background-color: $primary-hover-color;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }

        .drop-down-btn {
            @include center-flex();
            height: 100%;
            padding: 0 $spacing-small;
            border-left: 1px solid $primary-hover-color;
            cursor: pointer;
            transition: .4s;

            &:hover {
                background-color: $primary-hover-color;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .icon {
                font-size: rem(15px);
            }
        }
    }

    .search-task {
        border-radius: 4px;
        color: $primary-text-color;
        background-color: $app-bg;
        white-space: nowrap;
        padding: unset;
        margin-left: 3px;

        &:hover {
            background-color: $workspace-hover;
        }

        &:has(:focus-visible) {
            border: .5px solid $board-btn;
            background-color: white;
            outline: none;
        }

        input {
            cursor: pointer;
            transition: width .3s;

            border: none;
            background-color: inherit;
            width: 58px;

            &:focus-visible {
                cursor: text;
                outline: none;
                width: 140px;

                @include for-mobile-layout() {
                    & {
                        width: 120px;
                    }
                }
            }
        }

        .icon {
            margin-left: 2px;
        }
    }

    .person-filter {
        position: relative;
        border-radius: 4px;

        &.active {
            background-color: $primary-selected-color;
        }

        .member-img {
            @include members();
        }

        &[data-title]:after {
            right: -15px;
            bottom: 45px;
        }
    }
}