//home page
$home-bg: -webkit-linear-gradient(rgb(21 21 59) 0%, rgb(15, 16, 72) 100%);
$home-btn-bg: #6161FF;
$home-btn-bg-gradient: linear-gradient(90deg, #5034FF 25.69%, #B4B4FF 100%);
$home-btn-bg-gradient-hover: linear-gradient(90deg, #432CD5 25.69%, #9797D5 100%);

$app-bg: #ffffff;
$login-bg : #f7f7f7;

//board page
$border-color: #d0d4e466;
$sidebar-workspace-bg: #F6F7FB;
$sidebar-main-bg: #292f4c;
$menu-icon-color: #6c6cff;
$workspace-width: 255px;
$workspace-icon-color: #676879;
$workspace-hover: #dcdfec;
$workspace-board-active: #cce5ff;
$board-btn: #0073ea;
$link-color: #1f76c2;
$primary-hover-color: #0060b9;
$primary-selected-color: #cce5ff;
$primary-selected-hover-color: #aed4fc;
$text-color-on-primary: #ffffff;
$primary-text-color: #323338;
$layout-border-color: #d0d4e4;
$chat-icon-color: #c5c7d0;
$dark-black: #1f1f21;
$react-modal-background: rgba(41, 47, 76, 0.7);
$card-selected-background-color: #d9f0ff;
$board-description-bg: #f5f6f8;

// Groups
$cell-height: 36px;
$cell-width: 140px;
$cell-width-task: 336px;
$cell-width-person: 87px;
$cell-width-conversation: 65px;
$cell-width-checkbox: 32px;
$member-modal-item-bg: #e5f4ff;
$task-hover-color: #f4f5f8;
$task-box-shadow-color: #c3c6d4;

// done green
$color-done-green: #00c875;
$color-done-green-hover: #0f9b63;
$color-done-green-selected: #80e3ba;
$color-done-green-selected-with-opacity: rgba(128, 227, 186, 0.6);

// Egg Yolk
$color-egg_yolk: #ffcb00;
$color-egg_yolk-hover: #c29e11;
$color-egg_yolk-selected: #ffe580;
$color-egg_yolk-rgb: rgb(255,213,51);

// Light Blue
$color-bright-blue: #579bfc;
$color-bright-blue-hover: #4c7cc1;
$color-bright-blue-selected: #abcdfd;

// Explosive
$color-explosive: #c4c4c4;
$color-explosive-hover: #98999a;
$color-explosive-selected: #e1e1e1;

//Spacings
$spacing-xs: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;

// - Font family
$font-family: "Figtree", "Roboto", "Rubik", "Noto Kufi Arabic", "Noto Sans JP", "sans-serif";
$title-font-family: "Poppins", "Roboto", "Rubik", "Noto Kufi Arabic", "Noto Sans JP", "sans-serif";

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;