.activity-preview {
    display: flex;
    padding: $spacing-small 0 $spacing-small 0;
    border-bottom: 1px solid $task-box-shadow-color;
    margin: 0 25px 0 25px;
    gap: 5%;
    font-size: rem(16px);
    height: 60px;
    color: $primary-text-color;

    @include for-mobile-layout() {
        &{
            font-size: rem(12px);
        }
    }

    img {
        height: 30px;
        width: 30px;
    }

    .time-title {
        width: 200px;

        @include for-mobile-layout() {
            &{
                width: 100px;
                gap: 0;
            }
        }
        
        .time {
            display: flex;
            align-items: center;
            width: 60px;
            @include for-mobile-layout() {
                &{
                    width: 50px;
                }
            }
        }


        .title {
            height: 100%;
            display: flex;
            align-items: center;
            gap: $spacing-xs;

            @include for-mobile-layout() {
                &{
                    width: 50px;
                    gap: 0;
                    overflow: hidden;
                }
            }

            img {
                border-radius: 50px;
                @include for-mobile-layout() {
                    &{
                        display: none;
                    }
                }
            }
            
            span {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .action {
        display: flex;
        gap: $spacing-small;
        align-items: center;
        justify-content: space-between;
        width: 80px;

        @include for-mobile-layout() {
            &{
                width: 60px;
            }
        }

        img {
            margin-left: auto;
            width: 13px;
            height: 13px;

        }

        .icon {
            font-size: 20px;
        }
    }

    .from-to {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;
        width: 200px;
        @include for-mobile-layout() {
            &{
                width: 100px;
            }
        }

        span {
            height: 100%;
            @include center-flex();
            // width: 100%;
            width: 90px;

            @include for-mobile-layout() {
                &{
                    width: 40px;
                }
            }

            @include for-narrow-layout() {
                &{
                    min-width: 80px;
                }
        }
    }

        .icon {
            font-size: 35px;
            color: $color-explosive;
            margin: 0 4px;
        }

        &.label-container {
            span {
                &.label { 
                    width: 100%;
                    padding: 0 $spacing-small;
                    color: white;
                    border-radius: 4px;

                    @include for-mobile-layout() {
                        &.label {
                            width: 40px;
                            height: 30px;

                            font-size: 10px;
                        }
                    }
                }
            }
        }

        &.person-container {
            display: flex;
            gap: $spacing-xl;
            justify-content: center;
            margin-left: 0;
            img {
                border-radius: 50px;
            }
        }
    }
}