.activity-preview {
    display: flex;
    padding: $spacing-small 0 $spacing-small 0;
    border-bottom: 1px solid $task-box-shadow-color;
    margin: 0 25px 0 25px;
    gap: 5%;
    font-size: 16px;
    height: 60px;
    color: $primary-text-color;

    img {
        height: 30px;
        width: 30px;
    }

    .time-title {
        display: flex;
        align-items: center;
        width: 200px;
        
        .time {
            display: flex;
            align-items: center;
            width: 60px;
        }

        .title {
            height: 100%;
            display: flex;
            align-items: center;
            gap: $spacing-xs;

            img {
                border-radius: 50px;
            }
            
            span {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .action {
        display: flex;
        gap: $spacing-small;
        align-items: center;
        justify-content: center;
        img {
            margin-left: auto;
            width: 15px;
            height: 15px;
        }

        .icon {
            margin-left: auto;
            font-size: 20px;
        }
    }

    .from-to {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;

        span {
            height: 100%;
            min-width: 80px;
            @include center-flex();
            width: 100%;
        }

        .icon {
            font-size: 35px;
            color: $color-explosive;
            margin: 0 4px;
        }

        &.label-container {
            span {
                &.label { 
                    width: 100%;
                    padding: 0 $spacing-small;
                    color: white;
                    border-radius: 4px;
                }
            }
        }

        &.person-container {
            display: flex;
            gap: $spacing-xl;
            justify-content: center;
            margin-left: 0;
            img {
                border-radius: 50px;
            }
        }
    }
}