.activity-preview {
    display: flex;
    padding: $spacing-small 0 $spacing-small 0;
    border-bottom: 1px solid $task-box-shadow-color;
    margin: 0 25px 0 25px;
    gap: 5%;
    font-size: rem(16px);
    height: 60px;
    color: $primary-text-color;

    @include for-mobile-layout() {
        & {
            font-size: rem(12px);
        }
    }

    img {
        height: 30px;
        width: 30px;
    }

    .time-title {
        width: 200px;

        @include for-mobile-layout() {
            & {
                width: 100px;
                gap: unset;
            }
        }

        .time {
            width: 60px;

            @include for-mobile-layout() {
                & {
                    width: 50px;
                }
            }
        }


        .title {
            height: 100%;
            gap: $spacing-xs;

            @include for-mobile-layout() {
                & {
                    width: 50px;
                    gap: unset;
                    overflow: hidden;
                }
            }

            img {
                border-radius: 50px;

                @include for-mobile-layout() {
                    & {
                        display: none;
                    }
                }
            }

            span {
                font-size: rem(14px);
                font-weight: 500;
            }
        }
    }

    .action {
        gap: $spacing-small;
        width: 80px;

        @include for-mobile-layout() {
            & {
                width: 60px;
            }
        }

        img {
            margin-left: auto;
            width: 13px;
            height: 13px;

        }

        .icon {
            font-size: rem(20px);
        }
    }

    .from-to {
        height: 100%;
        margin-left: auto;
        width: 200px;

        @include for-mobile-layout() {
            & {
                width: 100px;
            }
        }

        span {
            height: 100%;
            @include center-flex();
            width: 90px;

            @include for-mobile-layout() {
                & {
                    width: 40px;
                }
            }

            @include for-narrow-layout() {
                & {
                    min-width: 80px;
                }
            }
        }

        .icon {
            font-size: rem(35px);
            color: $color-explosive;
            margin: 0 $spacing-xs;
        }

        &.label-container {
            span {
                &.label {
                    width: 100%;
                    padding: 0 $spacing-small;
                    color: white;
                    border-radius: 4px;

                    @include for-mobile-layout() {
                        &.label {
                            width: 40px;
                            height: 30px;
                            font-size: rem(10px);
                        }
                    }
                }
            }
        }

        &.person-container {
            display: flex;
            justify-content: center;
            gap: $spacing-xl;
            margin-left: unset;

            img {
                border-radius: 50px;
            }
        }
    }
}