.board-header {
    padding: 16px 30px 0 38px;
    display: flex;
    justify-content: space-around;
    color: $workspace-icon-color ;

    div {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        height: rem(32px);
        border-radius: 4px;
    }

    .board-info {
        display: flex;
        width: 100%;
    }


    .board-tools {
        gap: $spacing-small;
        align-items: center;
        height: fit-content;

        .activity {
            font-size: 14px;
            &:hover {
                background-color: $workspace-hover;
            }
        }

        .members-last-seen {
            width: max-content;
            height: rem(32px);

            &:hover {
                background-color: $workspace-hover;
            }
        }

    }

    .members-imgs {
        @include member-img(white ,#323338 , 24px , 26px)
    }

    h1 {
        padding: $spacing-xs 0;
        margin: 0;
        line-height: $font-reg-line-height-42;
        font-size: $font-reg-size-24;
    }
}