.board-header {
    padding: 16px 30px 0 38px;

    .top {
        display: flex;
        justify-content: space-between;
        width: 100%;

        div {
            display: flex;
            align-items: center;
            div {
                padding: $spacing-xs $spacing-small;

                &:hover {
                    @include hover-sidebar()
                }

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            h1 {
                padding: $spacing-xs 0;
                margin: 0;
                line-height: $font-reg-line-height-42;
                font-size: $font-reg-size-24;
            }
        }
    }
}