.board-header {
    padding: 16px 30px 0 38px;
    position: sticky;
    left: 0px;
    top: 0;
    background-color: white;
    z-index: 30;

    .board-title {
        display: flex;
        justify-content: space-around;
        color: $workspace-icon-color ;
        align-items: center;

        div {
            display: flex;
            align-items: center;
            padding-top: 4px;
            height: rem(32px);
            border-radius: 4px;
        }

        .board-info {
            display: flex;
            width: 100%;
            gap: $spacing-small;

            blockquote[data-title]:after {
                left: 20%;
                width: 100px;
                text-align: center;
            }

            h1 {
                cursor: text;
                padding: 4px 4px 4px 0;
                margin: 0;
                border: 1px solid transparent;
                color: $primary-text-color;
                letter-spacing: 0.5px;

                &:hover {
                    border: 1px solid darken($border-color , 20%);
                }
            }

            &>* {
                cursor: pointer;

                &:hover:not(:first-child) {
                    background-color: $workspace-hover;
                }
            }

            .icon {
                font-size: 20px;
            }

            .star-full {
                color: $color-egg_yolk;
            }
        }

        .board-tools {
            gap: $spacing-small;
            align-items: center;
            height: fit-content;
            gap: $spacing-medium;
            cursor: pointer;

            .activity {
                font-size: 14px;

                &:hover {
                    background-color: $workspace-hover;
                }
            }

            .members-last-seen {
                display: flex;
                flex-direction: row;
                width: max-content;
                gap: $spacing-xs;
                height: rem(32px);

                &:hover {
                    background-color: $workspace-hover;
                }
            }

            .invite {
                height: rem(32px);
                width: max-content;

                &:hover {
                    background-color: $workspace-hover;
                }

                .invite-icon {
                    width: 32px;
                }
            }

            .members-imgs {
                @include member-img(white, #323338, 24px, 26px);

            }

            @include for-mobile-layout() {
                & {
                    gap: 0;
                }

                .members-imgs {
                    display: none;
                }
            }
        }

    }

    .board-description {
        border: 1px solid transparent;
        display: flex;
        align-items: flex-start;
        padding: em(4px) em(8px) em(4px) 0;
        cursor: pointer;
        color: $workspace-icon-color;

        &-link {
            font-weight: 400;
            font-size: rem(14px);
        }

        span {
            color: $link-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .board-display-btns {
        display: flex;
        margin-top: $spacing-small;

        .main-table-btn {
            height: 32px;
            align-items: center;
            padding: 0px 8px 0px 8px;
            position: relative;
            font-size: 14px;
            white-space: nowrap;
            display: flex;
            align-items: center;

            &.active {
                border-bottom: 2px solid $board-btn;
                // box-shadow: 0px 2px 0 0 #0073ea
            }

            svg {
                height: 16px;
            }

            span {
                font-weight: 500;
                padding: 0 4px;

                &[data-title]:after {
                    left: 0;
                    bottom: 2.2em;
                }
            }

            &:hover {
                background-color: $workspace-hover;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            &::after {
                border-right: 1px solid darken($border-color , 30%);
                content: "";
                height: 18px;
                position: absolute;
                top: 6px;
                right: 0;
            }
        }
    }

    .board-border {
        height: 1px;
        width: 100%;
        background-color: darken($border-color , 20%);
    }

    @include for-mobile-layout() {
        & {
            padding: 16px 10px 0 10px;

            .board-info h1 {
                font-size: 15px;
                white-space: nowrap;
            }

            .last-seen-title {
                display: none;
            }

            .invite-title {
                display: none;
            }

            .board-tools {
                margin-right: auto;
            }

            .board-description {
                display: none;
            }

            blockquote {
                max-width: 180px;
                white-space: nowrap;
            }


        }
    }

    @include for-narrow-layout() {
        & {
            .board-info h1 {
                font-size: 24px;
                line-height: $font-reg-line-height-42;
            }

        }
    }
}