.board-modal {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: $app-bg;
    border-inline-start: 1px solid #ccc;
    min-width: 570px;
    transform: translateX(100%);
    z-index: 12;
    transition: transform .6s, box-shadow .6s;

    &.open {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);

    }

    .close-btn {
        color: #777;
        cursor: pointer;
    }

    .board-modal-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 20px 6px 24px;
        height: 53px;
        font-size: 18px;
    }

    .board-info {
        padding: 0 24px;
        display: flex;
        border-bottom: 1px solid $border-color;

        >* {
            display: flex;
            align-items: center;
            gap: 8px;
            border-right: 1px solid $border-color;
            width: fit-content;
            padding: 8px;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                border-radius: 4px;
                background-color: $workspace-hover;
            }
        }
        & .active{
            border-bottom: 2px solid #0073ea;
        }
    }

    .update {
        padding: 20px 20px 6px 24px;
        height: 85vh;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        
        .close-input-container {
             padding-left: 20px;
             display: flex;
             align-items: center;
             outline: 1px solid $board-btn;
             min-height: 40px;
             border-radius: 4px;
             color: $workspace-icon-color;

             &:hover {
                background-color: $workspace-hover;
             }
        }

        .button-container {
            display: flex;
            flex-direction: row-reverse;
            gap: $spacing-small;

            .save {
                background-color: $board-btn;
                color: white;
                margin: 0;
                height: 32px;
                border-radius: 4px;
                padding: $spacing-xs $spacing-small;
                @include center-flex();

                &:hover {
                    background-color: $primary-hover-color;
                }
            }
        }

        .input-container {
            margin-bottom: $spacing-small;
            outline: 1px solid $board-btn;
            border-radius: 4px;
            width: 100%;
            height: 145px;

            .style-txt {
                width: 100%;
                display: flex;
                border-bottom: 1px solid darken($border-color, 20%);;

                >* {
                    padding: $spacing-xs $spacing-small;
                    cursor: pointer;
                    border-radius: 4px;
                    font-size: 14px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    margin: 4px 2px 4px 4px;
                    
                    &:hover{
                        background-color: $workspace-hover;
                    }
                }

            }

            textarea {
                width: 100%;
                height: 75px;
                padding: 0 18px;
                border: 0;
                resize: none;
                
                &:focus-visible {
                    outline: 0;
                }
            }
        }
        .no-updates {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            img {
            width: 290px;
            height: auto;
            } 

            .txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
            }

            h2 {
                font-weight: 500;
                font-size: 24px;
            }

            p {
            margin-top: $spacing-medium;
            text-align: center;
            }
        }
           
        
    }
}
