.create-board-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px $spacing-xl $spacing-xl $spacing-xl;
    width: 500px;
    color: $primary-text-color;
    background-color: $app-bg;
    border-radius: $spacing-small;
    box-shadow: -3px 4px 14px rgb(0 0 0 / 20%);
    font-size: 14px;
    z-index: 10;
    border: 1px solid darken($border-color , 20%);

    h1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: $spacing-medium;
    }

    h3 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: $spacing-small;
    }

    form { 
        width: 100%;
        padding: 0;

        input {
            width: 100%;
            border-radius: 4px;
            border: 1px solid $border-color;
            font-size: 16px;
            padding: 8px 16px;
            height: 40px;
            margin: 0;
            font-family: inherit;

            &:focus-visible {
                outline: 1px solid $border-color;
            }
        }

        button{
            display: none;
        }

    }
    .close {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .icon {
            padding: 4px 8px;
            width: 32px;
            height: 28px;
            cursor: pointer;
            &:hover {
                background-color: $workspace-hover;
                border-radius: $spacing-small;
              }
        }
    }
}