.date-picker {
    background-color: white;
    flex-direction: column;
    outline: 0;
    
    .react-datepicker-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }
    

    .date-picker-input {
        z-index: 5;

        .react-datepicker__header {
            background-color: #fff;
        }
    }

    input {
        width: 100%;
        outline: none;
        border: none;
        text-align: center;
        padding: 5px;

        &:hover {
            color: $board-btn;
            border: .2px solid $workspace-hover;
        }

        &:focus-visible {
            border: .2px solid $board-btn;

        }
    }
}