.file-picker {
    max-width: 140px;
    @include center-flex();
    position: relative;
    width: 100%;

    &:hover {
        .icon {
            opacity: 1;
        }
    }

    input {
        display: none;
    }

    label {
        width: 100%;
        @include center-flex();
    }

    .icon {
        margin: auto;
        font-size: rem(19px);
        opacity: 0;
        cursor: pointer;
    }
}