.file-picker {
    max-width: 140px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    &:hover{
        .icon{
            opacity: 1;
        }
    }
    input {
        display: none;
    }

    label{
        width: 100%;
        @include center-flex();
    }
    .icon {
        margin: auto;
        font-size: 19px;
        opacity: 0;
        cursor: pointer;
    }
}