.group-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    li {
        .task-preview {
            display: flex;

            .picker {
                width: $cell-width;
                height: $cell-height;
                border: 1px solid darken($border-color , 20%);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .task-title {
                width: $cell-width-task;
                display: flex;
                justify-content: space-between;

                .chat-icon {
                    width: 65px;
                    padding: 0 16px;
                    height: 100%;
                    border-left: 1px solid darken($border-color , 20%);
                    color: $workspace-icon-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon:hover {
                        color: $menu-icon-color;
                        cursor: pointer;
                    }
                }
            }

            .task-person {
                width: $cell-width-person;
                @include member-img(#323338, white, 30px, 30px)
            }

            .label {
                color: white;
            }

            .empty-label {
                background-color: $color-explosive;
                width: $cell-width;
                height: $cell-height;
            }

            &.on-typing {
                background-color: $workspace-board-active;
            }

            blockquote {
                background-color: $app-bg;
                padding-right: 40px;
                padding-left: 10px;
                border-radius: 5px;
                width: 200px;
                max-height: 30px;
                overflow: hidden;
                display: inline-block;
                white-space: nowrap;
                margin-left: 36px;

                &:focus-visible {
                    outline: 1px solid $board-btn;
                }
            }
        }
    }

    .title-container {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $app-bg;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $cell-width;
        height: $cell-height;
        border: 1px solid darken($border-color , 20%);


        &.Task {
            width: $cell-width-task;
        }

        &.Person {
            width: $cell-width-person;
        }
    }

    .group-title {
        display: flex;
        height: 40px;
        align-items: center;
        line-height: $font-reg-line-height-24;

        .arrow-icon {
            font-size: 16px;
            margin-left: 13px;
            cursor: pointer;
        }

        h4 {
            cursor: text;
            font-weight: 600;
            font-size: 18px;
            padding: $spacing-xs;
            margin: 0;
        }

        .group-menu {
            position: absolute;
            width: 40px;
            left: 0px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-text-color;

            .icon {
                cursor: pointer;
                border-radius: 4px;
                font-size: 25px;
            }

            .icon:hover {
                background-color: $layout-border-color;
            }
        }
    }

    .check-box {
        width: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid darken($border-color , 20%);

        input {
            width: 15px;
            height: 16px;
        }
    }

    .group-preview-content {
        border-left: 6px solid;
        border-radius: 6px;
    }

    .add-task-form {
        display: flex;
        align-items: center;
        outline: none;
        width: 100%;
        height: 36px;
        border-bottom: 1px solid rgba(143, 153, 191, 0.4);
        border-right: none;

        input {
            margin: 6px 10px;
            height: 24px;
            border-radius: 8px;
            border: none;

            &:focus-visible {
                outline: 1px solid darken($border-color , 20%);
            }

            &:hover {
                border: .5px solid darken($border-color , 20%);
            }
        }

    }

    .modal-open {
        position: relative;
        right: -100px;
    }
}