.group-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    position: relative;

    .group-menu-modal {
        background-color: $app-bg;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        color: $primary-text-color;
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
        padding: $spacing-small;
        font-size: 14px;
        z-index: 5;
        border: 1px solid darken($border-color , 20%);
        >*{
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 4px 8px;
            &:hover:not(.color-palette){
                background-color: $workspace-hover;
                border-radius: $spacing-xs;
            }
        }
        .color-palette{
            display: flex;
            align-items: flex-start;
            width: 142px;
            flex-wrap: wrap;
            border-radius: 8px;
            padding: 5px;
            .color-icon{
                cursor: pointer;
                font-size: 20px;
            }
        }
    }

    li {
        border-collapse: collapse;
        .task-preview {
            display: flex;
            font-size: 14px;
            .picker {
                min-width: $cell-width;
                height: $cell-height;
                border: 1px solid darken($border-color , 20%);

                .label-text {
                    @include center-absolute();
                }
            }

            .task-title {
                min-width: $cell-width-task;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                
                &:hover{
                    .open-task-details{
                        opacity: 1;
                    }
                }
                .open-task-details{
                    opacity: 0;
                    display: flex;
                    margin: 0 6px;
                    align-items: center;
                    color: $workspace-icon-color;
                }
                .chat-icon {
                    width: 50px;
                    padding: 0 16px;
                    height: 100%;
                    border-left: 1px solid darken($border-color , 20%);
                    color: $workspace-icon-color;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon:hover {
                        color: $menu-icon-color;
                        cursor: pointer;
                    }
                }

            }

            .task-person {
                min-width: $cell-width-person;
                position: relative;
                
                .members-imgs {
                    width: $cell-width-person;
                    height: 100%;
                    @include member-img(#323338, white, 30px, 30px);
                    @include center-flex();
                }
            }

            .label {
                color: white;
                position: relative;
            }

            .empty-label {
                background-color: $color-explosive;
                width: $cell-width;
                height: $cell-height;
            }

            &.on-typing {
                background-color: $workspace-board-active;
            }

            blockquote {
                background-color: $app-bg;
                padding-right: 40px;
                border-radius: 5px;
                // max-width: 190px;
                // max-height: 30px;
                width: 200px;
                overflow: hidden;
                // display: inline-block;
                white-space: nowrap;
                margin-left: 36px;
                cursor: text;

                &:focus-visible {
                    outline: 1px solid $board-btn;
                }
            }
            .empty-div{
                border-bottom: 1px solid darken($border-color , 20%);
                width: 100%;
            }
        }
    }

    .title-container {
        display: flex;
        position: sticky;
        top: 231px;
        z-index: 1;
        background-color: $app-bg;

        .add-picker-task{
            display: flex;
            align-items: center;
            border-top:  1px solid darken($border-color , 20%);
            border-bottom:  1px solid darken($border-color , 20%);
            flex-grow: 1;
            
            span{
                display: flex;
                align-items: center;
                padding: 3px $spacing-xs;
                margin-left: $spacing-xs;
                border-radius: $spacing-xs;
                cursor: pointer;

                &:hover{
                    background-color: $layout-border-color;
                }
            }

        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $cell-width;
        height: $cell-height;
        border: 1px solid darken($border-color , 20%);


        &.Task {
            min-width: $cell-width-task;
        }

        &.Person {
            min-width: $cell-width-person;
        }
    }

    .group-header {
        position: sticky;
        top: 189px;
        display: flex;
        z-index: 2;
        background-color: white;
        height: 40px;
        align-items: center;
        line-height: $font-reg-line-height-24;
        &:hover{
            .group-menu .icon{
                display: block;
            }
        }

        .group-header-title{
            display: flex;
            flex-direction: column;
        }

        .arrow-icon {
            font-size: 16px;
            margin-left: 13px;
            cursor: pointer;
        }

        h4 {
            cursor: text;
            font-weight: 600;
            font-size: 18px;
            padding: $spacing-xs;
            margin: 0;
        }

        .group-menu {
            position: absolute;
            width: 40px;
            left: -38px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-text-color;

            .icon {
                display: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: 20px;
            }

            .icon:hover {
                background-color: $layout-border-color;
            }

        }
        
    }

    .check-box {
        min-width: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid darken($border-color , 20%);
        input {
            width: 15px;
            height: 16px;
        }
    }

    .group-preview-content {
        border-left: 6px solid;
        border-radius: 6px;
    }

    .add-task  {
        .add-task-form{
            width: 100%;
            display: flex;
            align-items: center;
            outline: none;
            height: 36px;
            border-bottom: 1px solid rgba(143, 153, 191, 0.4);
            border-top: 1px solid rgba(143, 153, 191, 0.4);
            border-left: 1px solid rgba(143, 153, 191, 0.4);
            border-right: none;
        }

        input {
            margin: 6px 10px;
            height: 24px;
            border-radius: 8px;
            border: none;

            &:focus-visible {
                outline: 1px solid darken($border-color , 20%);
            }

            &:hover {
                border: .5px solid darken($border-color , 20%);
            }
        }
        .check-box.add-task{
            width: 33px;
            height: 36px;
            border-left: $color-bright-blue-selected;
        }
    }

    .icon-person {
        color: darken($border-color, 20%);
    }
}
