.group-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    position: relative;
    
    .hidden {
        position: absolute;
        left: -46px;
        width: 40px;
        height: 40px;
        background-color: white;
    }

    .group-menu-modal {
        @include menu-modal();

        .color-palette {
            display: flex;
            align-items: flex-start;
            width: 142px;
            flex-wrap: wrap;
            border-radius: 8px;
            padding: 5px;

            .color-icon {
                cursor: pointer;
                font-size: 20px;
            }
        }
    }

    .title-container {
        display: flex;
        position: sticky;
        top: 229px;
        left: 40px;
        z-index: 2;
        background-color: $app-bg;
        width: 100%;


        .add-picker-task {
            display: flex;
            align-items: center;
            border-top: 1px solid darken($border-color , 20%);
            border-bottom: 1px solid darken($border-color , 20%);
            width: 100%;

            span {
                display: flex;
                align-items: center;
                padding: 3px $spacing-xs;
                margin-left: $spacing-xs;
                border-radius: $spacing-xs;
                cursor: pointer;

                &:hover {
                    background-color: $layout-border-color;
                }
            }
        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $cell-width;
        height: $cell-height;
        border: 1px solid darken($border-color , 20%);

        &.task {
            min-width: $cell-width-task;

            @include for-mobile-layout {
                &{
                    min-width: 202px;
                }
                
            }
        }

        &.member-picker {
            min-width: $cell-width-person;
        }
    }


    .group-header {
        position: sticky;
        top: 189px;
        // left: 40px;
        display: flex;
        z-index: 2;
        background-color: white;
        height: 40px;
        width: 100%;
        align-items: center;
        line-height: $font-reg-line-height-24;

        .group-header-title {
            display: flex;
            align-items: center;
            flex-direction: row;
            position: sticky;
            left: 40px;
            z-index: 2;
        }
        
        .title1 {
            width: 100px;
        }

        &:hover {
            .group-menu .icon {
                display: block;
            }
        }

        .arrow-icon {
            font-size: 16px;
            margin-left: 13px;
            cursor: pointer;
        }

        h4 {
            cursor: text;
            font-weight: 600;
            font-size: 18px;
            padding: $spacing-xs;
            margin: 0;
        }


        .group-menu {
            position: absolute;
            width: 40px;
            left: -38px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-text-color;

            .icon {
                display: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: 20px;
            }

            .icon:hover {
                background-color: $layout-border-color;
            }

        }
    }

    .check-box {
        min-width: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid darken($border-color , 20%);

        input {
            width: 15px;
            height: 16px;
        }
    }

    .add-task {
        width: 100%;
        display: flex;

        .empty-div {
            width: 100%;
            border-bottom: 1px solid darken($border-color , 20%);
        }

        .add-task-form {
            width: 100%;
            display: flex;
            align-items: center;
            outline: none;
            height: 36px;
            border-bottom: 1px solid rgba(143, 153, 191, 0.4);
            border-top: 1px solid rgba(143, 153, 191, 0.4);
            border-left: 1px solid rgba(143, 153, 191, 0.4);
            border-right: none;
        }

        input {
            margin: 6px 10px;
            height: 24px;
            border-radius: 8px;
            border: none;

            &:focus-visible {
                outline: 1px solid darken($border-color , 20%);
            }

            &:hover {
                border: .5px solid darken($border-color , 20%);
            }
        }

        .check-box.add-task {
            width: 33px;
            height: 36px;
            border-left: $color-bright-blue-selected;

            input {
                margin: 3px 3px 3px 4px;
                padding: 8px;
            }
        }
    }

    .sticky-div {
        display: flex;
        background-color: white;
        border-left: 6px solid;
        position: sticky;
        z-index: 1;
        left: 40px;
        @include for-mobile-layout {
            &{
                min-width: 240px;
            }
            
        }

        &.titles {
            border-top-left-radius: 6px;
            z-index: 11;
        }

    }

    .add-task .sticky-div {
        border-bottom-left-radius: 6px;
        opacity: .6;
    }

}

.statistic {
    .first {
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }
    .title.status-picker , .title.priority-picker {
        border-top: 0;
        padding: 0 8px;
        >*{
            height: 80%;
            &:hover{
                height: 90%;
            }  
        }
    }

    .sticky-container {
        min-width: 375px;
        position: sticky;
        left: 40px;
        z-index: 1;
        background-color: white;

        .hidden {
            width: 46px;
            top: -3px;
        }

        @include for-mobile-layout {
            & {
                min-width: 240px;
            }
        }
    }
}



