.home-header {
    background-color: $app-bg;
    // height: 72px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        img {
            height: rem(75px);
            cursor: pointer;
        }
    }

    .header-btns {
        display: flex;
        align-items: center;

        .btn-start {
            background-color: $home-btn-bg;
            padding-right: 14px;
            height: 40px;
            min-width: 130px;
            font-size: 0.8125rem;
            padding: 8px 16px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #5151d5;

                .arrow svg {
                    transition: 0.4s;
                    transform: translateX(4px);
                }
            }

            .arrow {
                padding-left: 10px;
                display: flex;
                align-items: center;
            }
        }

        .btn-login {
            background-color: $app-bg;
            color: #535768;
            align-items: center;
            padding: 8px 10px;
            font-size: 0.875rem;
            transition: color 200ms ease;
            border-radius: 8px;
            font-weight: 300;

            &:hover {
                color: #5034FF;
                background-color: #F0F3FF;
            }
        }

    }

    @include for-mobile-layout() {
        & {
            
            nav {
                padding: 8px 20px;
                img {
                    height: rem(45px);
                }
            }

            .header-btns {

                .btn-start {
                    height: 30px;
                    min-width: 80px;

                    .arrow {
                        display: none;
                    }
                }
            }
        }
    }
}