.home-header {
    background-color: $app-bg;
    height: 11vh;
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        img {
            height: 45px;
        }
    }

    button {
        background-color: $home-btn-bg;
    }

    button:hover {
        background-color:darken($home-btn-bg, 20%);
    }

}