.last-viewed{
    padding: 32px 16px;
    .title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .last-viewed-main{
        display: flex;
        justify-content: space-between;
        .member-info{
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;
            img{
                @include members();
            }
        }

    }
}