 .login-page-header {
     width: 100%;
     display: block;
     padding-top: 10px;
     padding-left: 8px;
     border-bottom: 1px solid #e0e0e0;
     height: 65px;
     background: #f7f7f7;
 }

 img {
     width: 180px;
     height: 44px;
     margin-left: 12px;
 }

 .form-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     margin-bottom: 16px;
     width: 100%;
     text-align: center;

     h1 {
         font-size: 40px;
         font-weight: $font-weight-very-light;
         margin-bottom: 8px;
         color: #333;
     }

     .label-username {
         font-weight: 500;
         margin-bottom: 4px;
     }

     .input {
         width: 328px;
         border-radius: 4px;
         border: 1px solid #ccc;
         padding: 6px 12px;
         font-size: 16px;
         outline: none;
         margin-bottom: 20px;
     }

     .btn-next {
         width: 328px;
         cursor: pointer;
         outline: none;
         display: flex;
         justify-content: center;
         align-items: center;
         line-height: 28px;
         border: none;
         border-radius: 4px;
         font-size: 18px;
         background-color: $board-btn;
         color: #fff;
         gap: 11px;
     }

     .split-line {
         margin-bottom: 32px;
         margin-top: 30px;

         .separator-line {
             border: .5px solid #c5c7d0;
             width: 200px;
             margin: 16px;

         }
     }

     .suggest-signup {

         .suggest-signup-prefix {
             padding-right: 5px;
         }

         a {
             color: #0fa2e2;
         }
     }
 }