.login-logout-modal {
    background-color: $app-bg;
    border-radius: $spacing-small;
    position: absolute;
    color: $primary-text-color;
    box-shadow: -3px 4px 14px rgb(0 0 0 / 20%);
    padding: $spacing-small;
    font-size: rem(14px);
    z-index: 10;
    border: 1px solid darken($border-color , 20%);
    left: 60px;
    bottom: 15px;

    ul {
        margin: 0;

        li {
            @include center-flex();
            cursor: pointer;
            padding: $spacing-xs;
            border-radius: 4px;
            gap: $spacing-xs;

            &:hover {
                background-color: $workspace-hover;
            }
        }
    }
}