.login-page-header {
    border-bottom: 1px solid #e0e0e0;
    height: 65px;
    background: $login-bg;

    .logo {
        height: 65px;
        cursor: pointer;
    }
}


.form-container {
    @include center-flex();
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: $spacing-medium;
    text-align: center;

    h1 {
        font-size: rem(40px);
        font-weight: 100;
        margin-bottom: $spacing-small;
        color: #333;
    }

    .label-username {
        font-weight: 500;
        margin-bottom: 20px;
        color: #333
    }

    .input {
        width: 328px;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: rem(16px);
        outline: none;
        margin-bottom: $spacing-medium;
    }

    .upload-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            @include center-flex();
            flex-direction: column;
            margin-bottom: $spacing-medium;
            color: $primary-text-color;
            transition: color 200ms ease;
            border-radius: 8px;

            .guest-img {
                margin-bottom: $spacing-small;
                border-radius: 50%;
                opacity: 0.3;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }
            }

            .user-img {
                border-radius: 50%;
                cursor: pointer;
                opacity: 1;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        input {
            display: none;
        }
    }

    .btn-next {
        text-align: center;
        width: 328px;
        padding: 6px 0;
        border: none;
        border-radius: 4px;
        font-size: rem(18px);
        background-color: $board-btn;
        color: #fff;
    }

    .split-line {
        margin-bottom: $spacing-medium;
        margin-top: 30px;
        width: 100%;
        
        .separator-line {
            border: .5px solid #c5c7d0;
            width: 200px;
            margin: $spacing-medium;
        }
    }

    .btn-login-google {
        @include center-flex();
        font-family: roboto-light;
        padding: 12px $spacing-medium;
        border: 1px solid #c5c7d0;
        border-radius: 4px;
        gap: 8px;
        margin-bottom: 32px;
        background-color: $app-bg ;

        .img-google-login {
            width: 16px;
        }

        span {
            font-family: tahoma;
            font-size: rem(14px);
            color: #000000;
        }
    }

    .suggest-signup {

        .suggest-signup-prefix {
            padding-right: $spacing-xs;
            font-size: rem(16px);
        }

        .btn-signup {
            color: #0fa2e2;
            background-color: $app-bg;
            margin: 0;
            padding: 0;
            font-size: rem(16px);
        }
    }
}