.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $sidebar-main-bg;
    min-width: 66px;
    height: 100vh;
    position: sticky;
    top: 0;

    a {
        @include center-flex();
        margin: $spacing-small 0;

        .home-img {
            width: 40px;
            height: 40px;

            &:hover {
                @include hover-sidebar()
            }
        }
    }

    .open-workspace-btn {
        display: none;
    }

    @include for-mobile-layout() {
        .open-workspace-btn {
            @include center-flex();
            color: white;
            font-size: rem(24px);
            height: 100%;
            cursor: pointer;
        }
    }

    .logged-user-img {
        height: 37.4px;
        width: 37.4px;
        border-radius: 50%;
        border: 1.6px solid white;
        cursor: pointer;
        transition: transform .2s;

        &:hover {
            transform: scale(.9);
        }
    }

    .middle-div {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;

        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        color: white;
        gap: $spacing-medium;
        font-size: rem(23px);
        padding: $spacing-medium 0;

        .icon-container {
            width: rem(36px);
            width: rem(36px);
            height: rem(36px);
            @include center-flex();
            position: relative;

            &[data-title]:hover:after {
                right: -70%;
            }

            .triangle-icon {
                position: absolute;
                color: $sidebar-workspace-bg;

                @include for-narrow-layout {
                    & {
                        left: 36px;
                    }
                }
            }
        }

        >*:hover {
            @include hover-sidebar()
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-medium;
        padding: $spacing-medium 0;
    }

    .menu-icon {
        width: rem(42px);
        height: rem(42px);
        color: $menu-icon-color;

        &:hover {
            @include hover-sidebar()
        }
    }

    @include for-mobile-layout {
        & {
            @include center-flex();
            flex-direction: row;
            position: fixed;
            width: 100vw;
            top: initial;
            bottom: 0;
            height: 8vh;
            gap: 30px;

            .middle-div,
            .bottom {
                flex-direction: row;
                gap: 30px;
            }

            .triangle-icon {
                left: 8px;
                top: -29px;
                transform: rotate(270deg);
            }

            .sidebar {
                flex-direction: column;
            }

        }

    }
}