.modal-member {
    // @include task-modal-position();
    position: absolute;
    z-index: 10;
    top: 21px;
    left: -130px;

    .modal-member-content {
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
        background-color: white;
        border-radius: 10px;
        width: 360px;
        padding: $spacing-small $spacing-large $spacing-small $spacing-medium;
        img {
            border-radius: 50%;
        }

        .taskMembers {
            display: flex;
            flex-wrap: wrap;
            li {
                display: flex;
                align-items: center;
                gap: $spacing-small;
                background-color: $member-modal-item-bg;
                margin: $spacing-xs;
                border-radius: 8px;
                img {
                    width: 22px;
                    height: 22px;
                }

                .remove {
                    margin-right:  $spacing-xs;
                    cursor: pointer;
                }
            }
            
        }

        .outTaskMembers {
            .search-div {
                margin: $spacing-medium 0;
                display: flex;
                justify-content: space-between;
                padding: $spacing-xs $spacing-xs;
                width: 320px;
                border-radius: 8px;
                border: 2px solid darken($border-color , 20%);
                input {
                    border: 0;
                    margin: 0;

                    &:focus-visible {
                        outline: 0;
                    }
                }

                .icon-container {
                    margin: 0;
                    display: flex;
                    background-color: white;
                    align-items: center;
                    border-radius: 8px;
                    width: 24px;
                    height: 24px;
                    padding: $spacing-xs $spacing-xs;
                    cursor: pointer;

                    &:hover {
                        background-color: $layout-border-color;
                    }

                    .icon {
                        color: black;
                    }
                }
            }

            li {
                padding: $spacing-small;
                display: flex;
                gap: $spacing-small;
                border-radius: 8px;
                cursor: pointer;
            
                img {
                    width: 26px;
                    height: 26px;
                }

                &:hover {
                    background-color: $layout-border-color;
                }
            }
            
        }
    }
    
    .triangle-icon {
        @include triangle-icon();
        right: -170px;
    }
}