.status-priority-picker {
    position: relative;
    color: white;

    
    &:hover .fold{
        border-width: 0 10px 10px 0;
        transition-delay: .2s;

        &:hover {
            border-width: 0 15px 15px 0;
            transition-delay: .2s;
        }
    }

    .fold {
    background: rgba(0,0,0,.352);
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0;
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-width .2s ease-out;
    width: 0;
}


    .label-text {
        @include center-absolute();
    }

    .empty-label {
        background-color: $color-explosive;
        width: $cell-width;
        height: $cell-height;
    }
}