.status-priority-picker {
    position: relative;
    color: white;

    .label-text {
        @include center-absolute();
    }

    .empty-label {
        background-color: $color-explosive;
        width: $cell-width;
        height: $cell-height;
    }
}