.task-preview {
    display: flex;
    font-size: 14px;
    .picker {
        min-width: $cell-width;
        height: $cell-height;
        border: 1px solid darken($border-color , 20%);
    }

    .task-title {
        min-width: $cell-width-task;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        
        &:hover{
            .open-task-details{
                opacity: 1;
            }
        }
        .open-task-details{
            opacity: 0;
            display: flex;
            margin: 0 6px;
            align-items: center;
            color: $workspace-icon-color;
        }
        .chat-icon {
            width: 50px;
            padding: 0 16px;
            height: 100%;
            border-left: 1px solid darken($border-color , 20%);
            color: $workspace-icon-color;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon:hover {
                color: $menu-icon-color;
                cursor: pointer;
            }
        }
    }

    &.on-typing {
        background-color: $workspace-board-active;
    }

    blockquote {
        background-color: $app-bg;
        padding-right: 40px;
        border-radius: 5px;
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 36px;
        cursor: text;

        &:focus-visible {
            outline: 1px solid $board-btn;
        }
    }
    .empty-div{
        border-bottom: 1px solid darken($border-color , 20%);
        width: 100%;
    }
}