.task-tools-modal {
    display: flex;
    // justify-content: center;
    position: fixed;
    bottom: 35px;
    height: 63px;
    width: 60%;
    inset: 86% auto auto 24%;
    right: 106px;
    transition: opacity 150ms, transform 150ms;
    z-index: 100;
    border-radius: 5px;
    pointer-events: auto;
    background-color: $app-bg;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);

    @include for-mobile-layout() {
        & {
            inset: 72% auto auto 11%;
            width: 78%;
            height: unset;

            .task-info {
                padding: 0 10px;

                span {
                    white-space: nowrap;
                }
            }

            .task-count {
                width: 42px;
            }
        }

        .tasks-container {
            flex-direction: column;
            width: unset;
        }
    }

    // transform: translate(-50%, 0);
    .task-tools {
        display: flex;
        color: $primary-text-color;
        width: 100%;

        >* {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        @include for-mobile-layout() {
            & >*{
                align-items: flex-start;
            }
          
        }
        .task-count {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 36px;
            height: 100%;
            color: white;
            width: 63px;
            justify-content: center;
            font-size: 24px;
            background-color: $board-btn;
            align-items: center;
        }

        .tasks-container {
            width: 100%;
        }

        .task-info {
            padding-left: 20px;
            font-size: 20px;
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            margin-bottom: 4px;

            .group-color {
                display: flex;
                justify-content: flex-start;
                font-size: 10px;
                padding-left: 3px;
                gap: 4px;
            }
            @include for-mobile-layout() {
                &{
                    flex-direction: column;
                }
            }
        }



        .task-btns {
            margin-left: auto;
            gap: 20px;
            display: flex;

            &>* {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                white-space: nowrap;


                &:hover {
                    .icon {
                        color: $board-btn;
                    }
                }

                .icon {
                    font-size: 18px;
                    margin: 0 auto;
                    color: darken($workspace-icon-color , 20%);
                }
            }

            @include for-mobile-layout() {
                & {
                    margin-left: 10px;
                }
            }
        }

        .close-btn {
            width: 63px;
            height: 100%;
            justify-content: center;
            border-left: 2px solid $task-box-shadow-color;
            display: flex;
            align-items: center;

            &:hover {
                .icon {
                    color: $board-btn;
                }
            }

            .icon {
                font-size: 26px;
                color: black;
            }

            @include for-mobile-layout() {
                & {
                    position: absolute;
                    right: -11px;
                    top: -26px;
                    border: none;
                }


            }
        }
    }

    // width: 100%;
    // position: fixed;

}