.workspace-sidebar {
    position: relative;
    background-color: $sidebar-workspace-bg ;
    border-right: 1px solid darken($border-color , 30%);
    color: $workspace-icon-color;
    transition: .4s;

    &.open {
        min-width: $workspace-width;
    }

    &.close {
        min-width: 30px;
    }

    .workspace-sidebar-items {
        margin: 16px 16px 18px 16px;
        border-bottom: 1px solid darken($border-color , 30%);
        gap: 10px;
    }

    .workspace-title-container {
        color: $primary-text-color;

        .workspace-title {
            font-weight: 400;
            font-size: 14px;
            padding: 0 0 $spacing-xs 0;
        }

        .icon {
            font-size: 28px;
        }

        .favorites-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;
            height: auto;
            overflow: hidden;
            max-width: 135px;
            font-size: 16px;
            font-weight: 600;
            color: $primary-text-color;
        }

        .star-icon {
            margin-right: 8px;
            font-size: 16px;
            color: $color-egg_yolk;
        }
    }

    .favorites-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;

        .star-icon {
            width: 80px;
        }

        .favorites-empty-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 12px;
            font-size: 15px;
            color: $primary-text-color;

            b {
                font-weight: bold;
            }

            p {

            }
        }
    }


    .chose-workspace {
        display: flex;
        justify-content: space-between;
        padding: $spacing-small;
        border: 1px solid $workspace-icon-color;
        border-radius: 4px;
        align-items: center;
        padding: 6px;

        .left {
            display: flex;

            // gap: $spacing-xs;
            .lightning-container {
                width: 24px;
                height: 24px;
                background-color: $color-done-green;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 8px;

            }

            .home {
                position: relative;
                font-size: 13px;
                z-index: 2;
                color: black;
                bottom: -13px;
                left: -6px;
            }

            h5 {
                font-size: 100%;
                padding: 0;
                margin: 0;
            }
        }

    }

    .workspace-btns,
    .board-list {
        padding: 16px 0 16px 2px;
        width: 100%;

        .icon {
            width: 19px;
            height: 19px;
        }

        >* {
            transition: .2s;
            display: flex;
            align-items: center;
            gap: 6px;
            padding: $spacing-xs;
            cursor: pointer;
            font-size: $font-reg-size-14;
        }

        >*:hover {
            background-color: $workspace-hover;
            border-radius: 4px;
        }

        .search-board {
            border-radius: 4px;
            color: $primary-text-color;
            height: 31px;

            &:has(:focus-visible) {
                border: .5px solid $board-btn;
                background-color: white;
                outline: none;
            }

            input {
                border: none;
                background-color: inherit;

                &:focus-visible {
                    outline: none;
                }

            }
        }

    }

    .board-list-container {
        display: flex;
        flex-direction: column;
        margin-top: 28px;
        gap: 5px;

        .board-list {
            padding: 0 18px;

            & .active {
                border-radius: 4px;
                background-color: $workspace-board-active;
            }

            .board-preview {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    display: flex;
                    align-items: center;
                    gap: $spacing-small;
                }
            }
        }
    }


    .toggle-workspace {
        position: absolute;
        border-radius: 20px;
        border: 1px solid #c3c6d4;
        background-color: #fff;
        height: 23px;
        width: 23px;
        top: 20px;
        right: -12px;
        transition: width .2s;
        cursor: pointer;
        z-index: 13;

        &:hover {
            color: white;
            background-color: $board-btn;
            width: 31px;
        }
    }
}