.workspace-sidebar {
    position: relative;
    background-color: $sidebar-workspace-bg ;
    border-right: 1px solid darken($border-color , 30%);
    color: $workspace-icon-color;
    transition: .4s;

    &.open {
        min-width: $workspace-width;
    }

    &.close {
        min-width: 30px;
    }

    .workspace-sidebar-items {
        margin: 12px 16px 18px 16px;
        border-bottom: 1px solid darken($border-color , 30%);
        gap: 10px;
    }

    .workspace-title {
        font-weight: 400;
        font-size: 14px;
        padding: 0 0 $spacing-xs 0;
    }

    .chose-workspace {
        display: flex;
        justify-content: space-between;
        padding: $spacing-small;
        border: 1px solid $workspace-icon-color;
        border-radius: 4px;
        align-items: center;
        padding: 6px;

        .left {
            display: flex;
            // gap: $spacing-xs;
            .lightning-container {
                width: 24px;
                height: 24px;
                background-color: $color-done-green;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 8px;

            }

            .home {
                position: relative;
                font-size: 13px;
                z-index: 2;
                color: black;
                bottom: -13px;
                left: -6px;
            }

            h5 {
                font-size: 100%;
                padding: 0;
                margin: 0;
            }
        }

    }

    .workspace-btns,
    .board-list {
        padding: 16px 0 16px 2px;
        width: 100%;

        .icon {
            width: 19px;
            height: 19px;
        }

        >* {
            transition: .2s;
            display: flex;
            align-items: center;
            gap: 6px;
            padding: $spacing-xs;
            cursor: pointer;
            font-size: $font-reg-size-14;
        }

        >*:hover {
            background-color: $workspace-hover;
            border-radius: 4px;
        }

    }

    .board-list {
        padding: 0 18px;
        margin-top: 10px;


        & .active {
            border-radius: 4px;
            background-color: $workspace-board-active;
        }

        .board-preview {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
                align-items: center;
                gap: $spacing-small;
            }
        }
    }


        .toggle-workspace {
            position: absolute;
            border-radius: 20px;
            border: 1px solid #c3c6d4;
            background-color: #fff;
            height: 23px;
            width: 23px;
            top: 20px;
            right: -14px;
            transition: width .2s;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: $board-btn;
                width: 31px;
            }
        }
    }