.workspace-sidebar {
    position: relative;
    background-color: $sidebar-workspace-bg ;
    border-right: 1px solid darken($border-color , 30%);
    color: $workspace-icon-color;
    transition: .4s;

    &.open {
        min-width: $workspace-width;
    }

    &.close {
        min-width: 30px;
    }

    .workspace-sidebar-items {
        margin: $spacing-medium $spacing-medium 18px $spacing-medium;
        border-bottom: 1px solid darken($border-color , 30%);
        gap: 10px;
    }

    .workspace-title-container {
        color: $primary-text-color;

        .workspace-title {
            font-weight: 400;
            font-size: rem(14px);
            padding: 0 0 $spacing-xs 0;
        }

        .icon {
            font-size: rem(28px);
        }

        .favorites-title {
            font-size: rem(16px);
            font-weight: 600;
            color: $primary-text-color;

            .star-icon {
                margin-right: $spacing-small;
                color: $color-egg_yolk;
            }
        }
    }

    .favorites-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;

        .star-icon {
            width: 80px;
        }

        .favorites-empty-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 12px;
            font-size: 15px;
            color: $primary-text-color;

            b {
                font-weight: bold;
            }
        }
    }


    .workspace-select {
        padding: $spacing-small;
        border: 1px solid $workspace-icon-color;
        border-radius: 4px;

        .workspace-logo {
            position: relative;

            .lightning-container {
                @include center-flex();
                width: rem(30px);
                height: rem(30px);
                background-color: $color-done-green;
                color: #fff;
                border-radius: 8px;
            }

            .home {
                position: absolute;
                font-size: rem(18px);
                z-index: 2;
                color: black;
                bottom: -1px;
                right: 64px;
            }

            .workspace-title {
                font-size: rem(16px);
                color: $primary-text-color;
                margin-left: 12px;
                font-weight: bold;
            }
        }

    }

    .workspace-btns,
    .board-list {
        padding: $spacing-medium 0 $spacing-medium 2px;
        width: 100%;

        .icon {
            width: 19px;
            height: 19px;
            color: $primary-text-color;
            font-weight: 400;
        }

        span {
            color: $primary-text-color ;
            font-weight: 400;
        }

        >* {
            transition: .2s;
            display: flex;
            align-items: center;
            gap: 6px;
            padding: $spacing-xs;
            cursor: pointer;
            font-size: $font-reg-size-14;
        }

        >*:hover {
            background-color: $workspace-hover;
            border-radius: 4px;
        }

        .search-board {
            border-radius: 4px;
            color: $primary-text-color;
            height: 31px;

            &:has(:focus-visible) {
                border: .5px solid $board-btn;
                background-color: white;
                outline: none;
            }

            input {
                border: none;
                background-color: inherit;

                &::-webkit-input-placeholder {
                    color: $primary-text-color ;
                    font-weight: 400;
                }

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .board-list-container {
        margin-top: $spacing-large;
        gap: 5px;

        .board-list {
            padding: 0 $spacing-medium;

            & .active {
                border-radius: 4px;
                background-color: $workspace-board-active;
            }
        }
    }

    .toggle-workspace {
        position: absolute;
        padding: $spacing-xs;
        border-radius: 20px;
        border: 1px solid #c3c6d4;
        background-color: #fff;
        top: 13px;
        @include center-flex();
        right: -12px;
        transition: .2s;
        cursor: pointer;
        z-index: 50;
        right: unset;
        left: calc(100% - 14px);

        &:hover {
            color: white;
            background-color: $board-btn;
            padding-left: $spacing-medium;
            padding-right: $spacing-xs;
        }
    }

    @include for-mobile-layout() {
        &.close {
            min-width: 0;
        }

        &.open {
            width: 100vw;
        }

        .toggle-workspace {
            display: none;
        }
    }
}

.workspace-sidebar {
    &.open {
        .toggle-workspace {
            &:hover {
                padding: $spacing-xs;
                padding-right: $spacing-medium;
                left: auto;
                right: -12px;
            }
        }
    }
}