.filter-member-modal {
    background-color: $app-bg;
    border-radius: $spacing-small;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    color: $primary-text-color;
    box-shadow: -3px 4px 14px rgb(0 0 0 / 20%);
    font-size: 14px;
    z-index: 10;
    border: 1px solid darken($border-color , 20%);
    width: 400px;
    max-height: 500px;
    overflow: auto;
    padding: $spacing-medium;

    img {
        height: rem(30px);
        width: rem(30px);
        border-radius: 50%;
    }

    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        font-size: 15px;
    }

    .secondary-title {
        margin-bottom: $spacing-small;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-small;

        li {
            padding: 6px;
            border-radius: 50%;
            @include center-flex();
            &.active {
                background-color: $card-selected-background-color;
            }
        }
    }

    @include for-mobile-layout(){
        &.filter-member-modal{
            left: -76px;
            width: max-content;
        }
    }

}