.statistic {
    .statistic-container {
        height: 36px;
    }

    .first {
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    .title.status-picker,
    .title.priority-picker {
        border-top: 0;
        padding: 0 $spacing-small;

        >* {
            height: 80%;

            &:hover {
                height: 90%;
            }
        }
    }

    .sticky-container {
        min-width: 375px;
        position: sticky;
        left: 40px;
        z-index: 1;
        background-color: white;

        .hidden {
            width: 46px;
            top: -3px;
        }

        @include for-mobile-layout {
            & {
                min-width: 240px;
                left: 0;
            }
        }
    }

    .statistic-number {
        font-size: rem(14px);
        position: relative;
        .number{
            position: absolute;
            top: -15px;
        }
        .sum {
            color: $board-btn;
            font-size: rem(12px);
            position: absolute;
        }
    }
}