* {
    box-sizing: border-box;
}


html {
    font-family: montserrat;
    line-height: 1.6;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}

img {
    width: auto;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

// a:hover {
//     text-decoration: underline;
// }

.btn {
    @include btn()
}

