* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

img {
    width: auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

main{
    width: 100%;
    overflow: auto;
    height: 100vh;
}

.btn {
    @include btn()
}

blockquote {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    &:focus-visible{
        outline: 1px solid darken($border-color , 20%);
    }
}