* {
    box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #878787 #D9D9D9;
    
    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
    }
    
    &::-webkit-scrollbar-track {
        background: #D9D9D9;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #A6A5A5;
        cursor: pointer;
        // border: 1px double #FFFFFF;
    }
}

.dark-screen {
    position: fixed;
    z-index: 50;
    background-color: $react-modal-background;
    width: 100vw;
    height: 100vh;
}

html {
    line-height: 1.6;
}

main {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: $title-font-family;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

img {
    width: auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


button {
    cursor: pointer;
}

.board-main {
    width: 100%;
    overflow: auto;
    height: 100vh;

    @include for-mobile-layout {
        & {
            height: 92vh;
        }
    }
}

.btn {
    @include btn()
}

blockquote {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: text;

    &:focus-visible {
        outline: 1px solid darken($border-color , 20%);
    }
}

[data-title]:hover:after {
    opacity: 1;
    transition: all .3s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -3em;
    font-size: 14px;
    right: 0%;
    padding: 8px 12px;
    color: white;
    text-align: center;
    white-space: nowrap;
    width: max-content;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #3d3636;
    -moz-box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
    opacity: 0;
    z-index: 10000;
    visibility: hidden;
}

[data-title] {
    position: relative;
}