* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #878787 #D9D9D9;
    
    &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
    }
    
    &::-webkit-scrollbar-track {
        background: #D9D9D9;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #A6A5A5;
        cursor: pointer;
    }
}

.dark-screen {
    position: fixed;
    z-index: 50;
    background-color: $react-modal-background;
    width: 100vw;
    height: 100vh;
}

html {
    line-height: 1.6;
}

main {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: $title-font-family;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

img {
    width: auto;
}

ul {
    padding: 0;
    list-style: none;
}
li {
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    cursor: pointer;
    border: none;
    color: whitesmoke;
}

.board-main {
    width: 100%;
    overflow: auto;

    @include for-mobile-layout {
        & {
            height: 92vh;
        }
    }
}

blockquote {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: text;

    &:focus-visible {
        outline: 1px solid darken($border-color , 20%);
    }
}