* {
    box-sizing: border-box;
}


html {
    // font-family: montserrat;
    line-height: 1.6;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

img {
    width: auto;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    @include btn()
}

