.board-preview {
    &:hover {
        .menu-icon-container {
            opacity: 1;
        }
    }

    div {
        @include center-flex();
        gap: $spacing-small;
    }

    .menu-icon-container {
        @include center-flex();
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        opacity: 0;

        .icon {
            font-size: rem(40px);
        }

        &.active {
            background-color: $workspace-board-active;
        }

        .board-menu-modal {
            @include menu-modal();
            right: -240px;
            width: 265px;
        }
    }
}