.group-preview {
    margin-bottom: $spacing-xxxl;
    position: relative;

    .hidden {
        position: absolute;
        left: -46px;
        width: 40px;
        height: 40px;
        background-color: white;

        @include for-mobile-layout() {
            & {
                display: none;
            }
        }
    }

    .cmp-order-title {
        position: relative;

        .open-modal-icon {
            opacity: 0;
            position: absolute;
            right: 4px;
        }

        &:hover {
            .open-modal-icon {
                opacity: 1;
                z-index: 20;
            }
        }

        .delete-modal {
            @include menu-modal();
        }
    }

    .title-container {
        position: sticky;
        top: 205px;
        left: 40px;
        z-index: 2;
        background-color: $app-bg;
        width: 100%;

        @include for-narrow-layout() {
            &.not-des {
                top: 185px;
            }
        }

        @include for-mobile-layout {
            & {
                top: 172px;
            }
        }

        .add-picker-task {
            border-top: 1px solid darken($border-color , 20%);
            border-bottom: 1px solid darken($border-color , 20%);
            width: 100%;
            transition: transform .2s, color .1s ease;
            padding-right: 150px;

            .add-btn {
                display: flex;
                align-items: center;
                padding: 3px $spacing-xs;
                margin-left: $spacing-xs;
                border-radius: $spacing-xs;
                cursor: pointer;
                position: relative;

                .close {
                    transition: transform .2s ease, color .1s ease;
                    transform: rotate(45deg);
                    color: $primary-hover-color;
                }

                .plus {
                    transition: transform .2s ease, color .1s ease;
                    transform: rotate(0);
                }

                &:hover {
                    background-color: $layout-border-color;
                }

                &.active {
                    background-color: $layout-border-color;
                }
            }
        }
    }

    .title {
        @include center-flex();
        min-width: $cell-width;
        height: $cell-height;
        border: 1px solid darken($border-color , 20%);
        font-size: rem(14px);

        &.task {
            min-width: $cell-width-task;

            @include for-mobile-layout {
                & {
                    min-width: 202px;
                }
            }
        }

        &.member-picker {
            min-width: $cell-width-person;
        }
    }

    .group-header {
        position: sticky;
        top: 175px;
        z-index: 2;
        background-color: white;
        height: 40px;
        width: 100%;
        line-height: 24px;

        @include for-narrow-layout() {
            &.not-des {
                top: 155px;
            }
        }

        @include for-mobile-layout {
            & {
                top: 142px;
            }
        }

        .group-title-info {
            margin-bottom: $spacing-small;

            &:hover {
                .task-count {
                    opacity: 1;
                }
            }

            .task-count {
                color: $workspace-icon-color;
                white-space: nowrap;
                font-size: rem(14px);
                line-height: 19px;
                margin-left: $spacing-small;
                transition: .2s;
                opacity: 0;
            }

            &.showBorder {
                border: 1px solid $board-btn;
                border-radius: 4px;
            }

            .group-title:focus-visible {
                outline: none;
                margin-left: $spacing-xs;
            }

            blockquote {
                width: auto;
                min-width: 40px;
                height: 35px;
                text-overflow: ellipsis;
            }
        }

        .group-header-title {
            position: sticky;
            left: 40px;
            z-index: 2;

            @include for-mobile-layout() {
                & {
                    left: 0;
                }
            }
        }

        .group-title {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
        }

        &:hover {
            .group-menu .icon {
                display: block;
            }
        }

        .arrow-icon {
            font-size: rem(16px);
            margin-left: 13px;
            cursor: pointer;
        }

        h4 {
            cursor: text;
            font-weight: 600;
            font-size: rem(18px);
            padding: $spacing-xs;
        }

        .group-menu {
            @include center-flex();
            position: absolute;
            width: 40px;
            left: -38px;
            height: 40px;
            color: $primary-text-color;

            .icon {
                display: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: rem(20px);
            }

            .icon:hover {
                background-color: $layout-border-color;
            }

            @include for-mobile-layout() {
                & {
                    display: none;
                }
            }
        }
    }

    .check-box {
        min-width: 33px;
        @include center-flex();
        border: 1px solid darken($border-color , 20%);

        input {
            width: 15px;
            height: 16px;
        }
    }

    .add-task {
        width: 100%;

        .empty-div {
            width: 100%;
            border-bottom: 1px solid darken($border-color , 20%);
        }

        .add-task-form {
            width: 100%;
            outline: none;
            height: 36px;
            border-bottom: 1px solid rgba(143, 153, 191, 0.4);
            border-top: 1px solid rgba(143, 153, 191, 0.4);
            border-left: 1px solid rgba(143, 153, 191, 0.4);
            border-right: none;
        }

        input {
            margin: 6px 10px;
            height: 24px;
            border-radius: 8px;
            border: none;

            &:focus-visible {
                outline: 1px solid darken($border-color , 20%);
            }

            &:hover {
                border: .5px solid darken($border-color , 20%);
            }
        }

        .check-box.add-task {
            width: 33px;
            height: 36px;
            border-left: $color-bright-blue-selected;

            input {
                margin: 3px 3px 3px 4px;
                padding: $spacing-small;
            }
        }
    }

    .sticky-div {
        display: flex;
        background-color: white;
        border-left: 6px solid;
        position: sticky;
        z-index: 1;
        left: 40px;

        @include for-mobile-layout {
            & {
                min-width: 240px;
                left: 0;
            }
        }

        &.titles {
            border-top-left-radius: 6px;
            z-index: 11;
        }
    }

    .add-task .sticky-div {
        border-bottom-left-radius: 6px;
        opacity: .6;
    }
}