.task-list-content-kanban {
    padding: 8px;
    min-height: 110px;
    margin: 0;

    .task-container{
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 8px;

        .flex{
            padding: 8px;
        }
    }

    .task-content,
    .task-title {
        width: 100%;
        display: flex;
    }

    .task-title{
        margin-bottom: 8px;
        height: 36px;
        align-items: center;
        padding: 8px;
        position: relative;
        .chat-icon{
            color: $chat-icon-color;
            font-size: 24px;
            margin-left: auto;
        }
        .task-menu{
            font-size: 22px;
            color: $workspace-icon-color;
        }
    }

    .task-content {
     
        .task-titles-container{
            li{
                margin-bottom: 8px;
                height: 36px;
            }
        }
    }
    .title-container{
        >*:not(:last-child){
            height: 36px;
            margin-bottom: 8px;
            display: flex;
            justify-content: center;
        }
    }
}